$side-nav-width: 220px;
$light-text: rgb(112, 112, 112);

.side-nav-bar {
    position: fixed;
    z-index: 600;
    width: $side-nav-width;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    box-shadow: inset -1px 0 0 #e5e5e5;
    transition: transform 0.3s;
    will-change: transform;
    color: $light-text;
    transform: translate3d(
        0,
        0,
        0
    ); // Creates a new stacking context that allows floating nav sub items to be positioned relative to the top of the nav, rather than the page.

    &[data-hidden="true"] {
        transform: translateX(-#{$side-nav-width});
    }



    .top-level-items-container {
        height: 100%;
        overflow-y: scroll;
        background: linear-gradient(#00111e 30%, #033d5e);
        color: white;
    }

    .top-level-items {
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: 55px;
    }

    .top-level-items > li {
        white-space: nowrap;
        position: static;
    }

    .nav-bar-header {
        line-height: 60px;
        text-align: center;
    }
}
