.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .contents {
        flex: 1 1 auto;
    }

    .mobile-overlay {
        display: block;
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        z-index: 300;
    }
    .fade-enter {
        opacity: 0.01;
    }
    .fade-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-in;
    }
    .fade-exit {
        opacity: 1;
    }
    .fade-exit-active {
        opacity: 0.01;
        transition: opacity 200ms ease-in;
    }
}
