.blog-page {
    padding: 20px;

    .blog-title {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .blog-cards {
        max-width: 800px;
        margin: 0 auto;
    }

    .blog-post-link {
        text-decoration: none;
    }

    .post-preview-container {
        //width: 800px;
        margin-bottom: 48px;
    }
}