.blog-page {
    padding: 4%;

    .blog-title {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 2rem;
        background: linear-gradient(to right, #FFB7B7, #FF7192);
        background-clip: text;
        color: transparent;

    }

    .blog-cards {
        max-width: 800px;
        margin: 0 auto;
    }

    .blog-post-link {
        text-decoration: none;
    }

    .post-preview-container {
        //width: 800px;
        margin-bottom: 48px;
    }
}