$shopping-cart-btn-margin: 20px;
$shopping-cart-btn-height: 40px;

.checkout-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    .content-container {
        display: flex;
        flex: 1 1 auto;

        @media screen and (max-width: 650px) {
            flex-direction: column;
        }

        @media screen and (min-width: 650px) {
            animation: enter .5s;
            animation-delay: .1s;
            animation-fill-mode: both;
        }
    }

    @keyframes enter {
        0% {
            -webkit-transform: scale(.97);
            transform: scale(.97);
            opacity: 0
        }
    
        to {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1
        }
    }

    .items-container {
        flex: 1 1 50%;
        position: relative;
        padding: 50px 10px 20px 50px;

        @media screen and (max-width: 550px) {
            padding-left: 5%;
        }
    }

    .items-content-container {
        max-width: 800px;
        margin: 0 5% 0 auto;
    }

    .checkout-container {
        flex: 1 1 20%;
        padding: 0 4% 20px 80px;
        align-items: center;
        background: #3F4047;
        transition: padding 0.3s;

        @media screen and (max-width: 1080px) {
            padding-left: 4%;
        }
    }

    .checkout-content-container {
        max-width: 380px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        margin-top: 50px;
    }

    .delivery-banner {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 11px 0;
        text-align: center;
        background: linear-gradient(to right,rgba(246, 244, 238, 0.5), #f6f4ee, rgba(246, 244, 238, 0.5));
        text-transform: uppercase;
        font-size: 0.875rem;
        color: #704b2c;
        letter-spacing: 0.07rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h1 {
            font-size: 2rem;
        }
    }

    .shopping-cart-items {
        list-style-type: none;
        max-width: none;
        margin-bottom: 30px;

        > :not(:last-child) {
            margin-bottom: 50px;
        }
    }

    .total-price {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
    }

    .checkout-btn {
        background: #3F7AE6;
        color: white;
        text-align: center;
        padding: 0 30px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
        font-size: 16px;
        margin-top: $shopping-cart-btn-margin;
        border: none;
        height: $shopping-cart-btn-height;
        width: 100%;
    }
}