@import "@styles/_mixins.scss";
$card-min-width: 330px;
$card-gap: 20px;
$card-content-padding-lg: 40px;
$card-content-padding-sm: 20px;
$screen-bp-large: $card-min-width * 3 + $card-gap * 2 + $card-content-padding-lg * 2 + 20px;
$screen-bp-med: $card-min-width * 2 + $card-gap * 1 + $card-content-padding-lg * 2 + 20px;
$screen-bp-sm: 570px;
$screen-bp-mobile: $card-min-width + 30px;

.list-page {
    .navbar {
        padding: 10px;
        margin-top: env(safe-area-inset-top);
    }

    .logo {
        width: 255px;
    }

    .clothing-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(#{$card-min-width}, 1fr));
        max-width: 2400px;
        margin: 0 auto;
        padding: 0 7% 30px;
        justify-items: stretch;
        padding: 40px;

        @media screen and (max-width: #{$screen-bp-large}) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (max-width: #{$screen-bp-med}) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: #{$screen-bp-sm}) {
            padding: 20px 0px;
            grid-gap: 15px;
        }

        @media screen and (max-width: #{$screen-bp-mobile}) {
            grid-template-columns: 1fr;
        }
    }

    .clothing-card {
        overflow: hidden;
        cursor: pointer;
        display: flex;
        border: 1px solid #eeeeee;

        @media screen and (max-width: #{$screen-bp-sm}) {
            border: none;
        }
    }

    .text-card {
        cursor: pointer;
        //border: 2px solid #eeeeee;
        padding-bottom: 125%;
        position: relative;

        > a {
            position: absolute;
            width: 100%;
            left: 0;
            height: 100%;
        }
    }

    .text-card::after {
        content: "";
        width: 100%;
        position: absolute;
        padding-bottom: calc(125% + 8px);
        border: 2px solid #eeeeee;
        pointer-events: none;
    }

    .text-card-message {
        position: absolute;
        width: 80%;
        top: 40%;
        left: 10%;
        text-align: center;
        transform: translateY(-50%);
        color: black;
        letter-spacing: 0.35rem;
        font-size: 1.2rem;
    }

    .clothing-image-container {
        background: radial-gradient(#f8f4ee, #e6d7c1);
        padding-bottom: 10px;
    }

    // linear-gradient(to bottom, #E4E4E2, #F5F4F2);
    //radial-gradient(#FADFCD,#F3D4C3);

    .clothing-image {
        background: inherit;

        // background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 60%, #fff 60.1%, #fff 65%, rgba(0,0,0,0) 65.1%);
    }

    // Be careful about adding more padding - take into account discounted prices at around the 360px mark
    .clothing-details {
        padding: 10px 10px 20px 5px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        height: 80px;
    }

    .clothing-name {
        font-size: 1rem;
        line-height: 1.25rem;
        display: inline-block;
        color: #393c45;
        margin: 0;
        flex: 0 1 auto;
        letter-spacing: 0.5px;
        margin-bottom: 2px;

        @media screen and (max-width: #{$screen-bp-large}) {
            font-size: 0.875rem;
            line-height: 1rem;
        }
    }

    .clothing-price-container {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        min-width: 70px;
        font-size: 0.875rem;
        letter-spacing: 0.075em;
    }

    .item-link {
        text-decoration: none;
        width: 100%;
    }
}
