@import "@styles/_mixins.scss";

.list-page {
    .navbar {
        padding: 10px;
        margin-top: env(safe-area-inset-top);
    }

    .logo {
        width: 255px;
    }

    .clothing-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        max-width: 2400px;
        margin: 0 auto;
        padding: 0 7% 30px;
        justify-items: stretch;
        padding: 20px;

        @media screen and (max-width: 1020px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 571px) {
            padding: 40px;
        }
    }

    .clothing-card {
        min-width: 140px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
    }

    .clothing-image-container {
        background: linear-gradient(#F8F4EE, #fff0d9);
        

        // &[data-cropped-bottom="false"] {
        //     padding-bottom: 10px;
        // }
    }

    .clothing-image {
        background: inherit;
    }

    .clothing-details {
        padding: 10px 15px 20px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
        height: 90px;
    }

    .clothing-name {
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        color: #393c45;
        text-transform: uppercase;
        margin: 0;
        flex: 0 1 auto;
        margin-bottom: 5px;
    }

    .clothing-price {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        min-width: 70px;
    }

    .item-link {
        text-decoration: none;
        width: 100%;
    }
}
