$main-color: #6394f8;
$light-text: #abb0be;

$shopping-cart-padding: 15px;
$shopping-cart-items-padding: 20px;
$shopping-cart-header-padding: 12px;
$shopping-cart-btn-margin: 20px;
$shopping-cart-item-height: 60px;
$shopping-cart-picture-width: 60px;
$shopping-cart-btn-height: 54px;

//$quantity-change-btn-color: 
$quantity-btn-size: 16px;
$quantity-btn-line-thickness: 2px;
$quantity-btn-line-length: 8px;

.shopping-cart {
    background: rgba(255, 255, 255, 0.98);
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(0, 0, 0);
    z-index: 4;
    padding: $shopping-cart-padding;
    transition: height 0.2s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .shopping-cart-header {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: $shopping-cart-header-padding;
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .shopping-cart-total {
        float: right;
    }

    .shopping-cart-items {
        padding-top: $shopping-cart-items-padding;
        max-height: 311px;
        overflow-y: scroll;
        position: relative;
        flex: 1 1 auto;
        max-width: none;

        li + li {
            margin-top: 18px;
        }

        img {
            float: left;
            margin-right: 12px;
        }

        .item-name {
            display: block;
            font-size: 15px;
            max-width: 75%;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* number of lines to show */
        }

        .item-price {
            color: $main-color;
            margin-right: 8px;
            font-size: 14px;
        }

        .item-quantity {
            color: $light-text;
            font-size: 14px;
        }
    }

    .shopping-cart-item {
        display: flex;
    }

    .shopping-cart-item-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 12px;
        width: calc(100% - #{$shopping-cart-picture-width} - 10px);
    }

    .shopping-cart-item-meta-details {
        display: flex;
        justify-content: space-between;
        max-width: 125px;
    }

    .clothing-image-container {
        overflow: hidden;
        max-height: $shopping-cart-item-height;
        margin-right: 10px;
        flex: 0 0 $shopping-cart-item-height;
    }

    &:after,
    &:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        bottom: 100%;
        left: 89%;
    }

    &:after {
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    &:before {
        border-bottom-color: #e8e8e8;
        border-width: 11px;
        margin-left: -11px;
    }

    .empty-cart-message {
        text-align: center;
        color: #383838;
        height: $shopping-cart-item-height;
        flex: 1 1 auto;
        padding-top: $shopping-cart-items-padding;
    }

    .action-buttons {
        display: flex;
        margin-top: $shopping-cart-btn-margin;
    }

    .shopping-cart-action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        text-decoration: none;
        border-radius: 3px;
        font-size: 16px;
        height: $shopping-cart-btn-height;
        cursor: pointer;
    }

    .close-btn {
        color: #8E98D8;
        background: white;
        border: 1px solid #aeb4d7;
        flex: 1 1 30%;
        margin-right: 10px;
        max-width: 180px;
    }

    .checkout-link {
        background: #6394f8;
        color: white;
        flex: 1 1 70%;
        border: none;
    }

    .checkout-link:disabled {
        background: inherit;
        border: 1px solid rgba(140, 140, 140, 0.5);
        color: rgba(140, 140, 140, 0.5);
    }

    .quantity-changer > :not(:last-child) {
        margin-right: 6px;
    }

    .quantity-changer[data-quantity="0"] {
        .quantity-change-btn.minus {
            --btn-color: grey;
        }
    }

    .quantity-change-btn {
        --btn-color: black;

        width: $quantity-btn-size;
        height: $quantity-btn-size;
        border-radius: 28%;
        border: 1px solid var(--btn-color);
        position: relative;
        background: inherit;
        padding: 0;
        cursor: pointer;
    }

    .plus::before, .minus::before {
        content: "";
        position: absolute;
        left: calc(50% - #{$quantity-btn-line-length / 2});
        width: $quantity-btn-line-length;
        height: $quantity-btn-line-thickness;
        top: calc(50% - #{$quantity-btn-line-thickness / 2});
        background: var(--btn-color);
    }

    .plus::after {
        content: "";
        position: absolute;
        left: calc(50% - #{$quantity-btn-line-thickness / 2});
        width: $quantity-btn-line-thickness;
        height: $quantity-btn-line-length;
        top: calc(50% - #{$quantity-btn-line-length / 2});
        background: var(--btn-color);
    }

}
