@import "~@styles/_variables.scss";

$nav-height: 60px;

.navbar {
    background: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 2;

    &::before {
        content:'';
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
        z-index: 5;
        pointer-events: none;
    }

    &[data-show="false"] {
        transform: translateY(-100%);
        opacity: 0.3;
        box-shadow: none;
    }

    .navbar-content {
        max-width: 1400px;
        display: flex;
        height: $nav-height;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 40px;
        position: relative;
    }

    .navbar-content[data-menu-visible="true"] {
        padding: 15px 20px;
    }

    .logo-container {
        flex: 0 0 auto;
        font-size: 1.5em;
        cursor: pointer;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .navbar-content[data-menu-visible="true"] .logo-container {
        flex: 1 1 auto;
    }

    .logo {
        height: 25px;
    }

    .site-navigation-container {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        font-size: 13px;
    }

    .site-navigation-links {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        cursor: pointer;
        height: 100%;
        padding-left: 25px;
        line-height: 30px;
        font-size: inherit;
        color: rgb(51, 51, 51);

        & a {
            text-decoration: none;
            line-height: 20px;
            display: block;
            color: inherit;
            position: relative;
            text-transform: uppercase;
            cursor: pointer;
        }

        & a::after {
            content: "";
            height: 50px;
            width: 100%;
            left: 0;
            position: absolute;
            top: -15px;
        }

        & a::before {
            content: "";
            height: 35px;
            width: calc(100% + 10px);
            position: absolute;
            top: -10px;
            left: -5px;
            border-bottom: 1px solid blue;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.4s;
        }

        & a[data-active="true"]::before {
            visibility: visible;
            opacity: 1;
        }
    }

    .site-navigation-link {
        padding: 0 15px;
    }

    .shopping-cart-btn {
        cursor: pointer;
        border: none;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: inherit;
        background: inherit;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .shopping-cart-icon-container {
        width: 18px;
        color: #777777;
        margin-right: 5px;
        display: inline-flex;
        height: 18px;

        > svg {
            height: 100%;
        }
    }

    .shopping-cart-text-container {
        margin-right: 8px;
        font-size: 1.125rem;
        line-height: 1.125rem;
    }

    .shopping-cart-badge {
        background-color: #6394f8;
        border-radius: 10px;
        color: white;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        top: -6px;
    }

    .shopping-cart-container {
        position: absolute;
        right: 20px;
        bottom: 0px;
        width: 90%;
        max-width: 400px;
        max-height: 350px;
        top: $nav-height + 20px;

        /* Capture clicks around the shopping cart so that you don't click through to
    another page when you are really only trying to close the shopping cart */
        &[data-full-screen="false"]::after {
            content: "";
            position: absolute;
            left: -50px;
            top: 0;
            bottom: -50px;
            right: -20px; // Need to be really careful with this - make sure never overflows x *
            z-index: 3;

            /* * Turns out position sticky calculates when an element should stick based
            on the content containing box. When you have a sub element that overflows the
            containing element of the sticky element than for some reason that overflow amount
            is added to the position of the content containing box (even if you overflow in x
            and were using top). */
        }
    }

    .shopping-cart-container[data-full-screen="true"] {
        width: 100%;
        max-width: 800px; // It is capped by the nav max-width anyway - this looks better
        right: 0;
        height: calc(100vh - #{$nav-height});
        max-height: none;
        top: $nav-height;

        > .shopping-cart {
            height: 100%;
        }
    }

    .menu-icon-container {
        width: 18px;
        flex: 0 0 18px;
        display: inline-block;
        color: rgb(119, 119, 119);
        margin-right: 15px;
        position: relative;
        top: 3px;
    }

    .menu-icon-container::after {
        content: "";
        position: absolute;
        width: 330%;
        height: 180%;
        left: -80%;
        top: -40%;
        cursor: pointer;
    }

    .fade-enter {
        opacity: 0.01;
    }
    .fade-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-out;
    }
    .fade-exit {
        opacity: 1;
    }
    .fade-exit-active {
        opacity: 0.01;
        transition: opacity 200ms ease-out;
    }
}
