.item-page {
    position: relative;
    
    .back-icon-container {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 10px 0 10px;
        box-sizing: content-box;
        width: 25px;
        cursor: pointer;
        color: white;
        background: #0000002e;
    }

    .clothing-details {
        display: flex;
        padding: 30px 40px;
        max-width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }

        > :not(:first-child) {
            margin-top: 40px;
        }
    }

    .clothing-classifications {
        order: 1;
        width: 50%;

        @media screen and (max-width: 1200px) {
            order: 2;
            width: 100%;
        }
    }

    .clothing-quick-details {
        order: 2;
        width: 50%;

        @media screen and (max-width: 1200px) {
            order: 1;
            width: 100%;
        }
    }

    .clothing-name {
        text-transform: uppercase;
        font-size: 18px;
    }

    .clothing-description {
        margin-top: 20px;
    }

    .clothing-link-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .clothing-link {
        background: #6394F8;
        color: white;
        border: none;
        width: 100%;
        letter-spacing: 0.1em;
        padding: 18px;
        font-size: 1.0rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }

    .clothing-price {
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: 0.075em;
    }

    .sticky-container {
        position: sticky;
        top: 80px;
    }
}