.item-page {
    position: relative;
    
    .back-icon-container {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 25px;
        cursor: pointer;
    }

    .clothing-details {
        display: flex;
        padding: 30px 40px 0;
        max-width: 1200px;
        margin: 0 auto;
    }

    .clothing-classifications {
        width: 50%;
    }

    .clothing-quick-details {
        width: 50%;
    }

    .clothing-name {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
    }

    .clothing-description {
        margin-top: 20px;
    }

    .clothing-link-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .clothing-link {
        background: #6394F8;
        color: white;
        border: none;
        width: 100%;
        letter-spacing: 0.1em;
        padding: 18px;
        font-size: 1.0rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }
}