$image-ratio: 4 / 5; 

.fade-carousel {
    position: relative;

    .clothing-images {
        display: flex;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100vw;
            height: 85%;
            top: 0;
            left: 0;
            background: #F8F4EE;
        }

        &[data-cropped-bottom="true"]::before {
            height: 100%;
        }
     }

    .clothing-image-container {
        max-width: 400px;
        width: calc(75vh * #{$image-ratio});
        margin-right: 120px;
    }

    .clothing-image {
        max-width: 400px;
        max-height: 520px;
    }

    .image-selector-container {
        position: absolute;
        right: 40px;
        bottom: 10%;
    }

    .fade-enter {
        opacity: 0.01;
    }
    .fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    .fade-exit {
        opacity: 1;
    }
    .fade-exit-active {
        opacity: 0.01;
        transition: opacity 500ms ease-in;
    }

}
