.price-display {
    color: inherit;
    font-weight: 700;
    font-size: 1em;
    display: flex;

    > :first-child {
        margin-right: 8px;
    }

    .previous-price {
        font-size: 0.875em;
        text-decoration: line-through;
        color: grey;
        font-weight: 500;
    }
    
    &[data-discounted="true"] .current-price {
        color: #6394f8;
    }

    &[data-discount-below="true"] {
        flex-direction: column;
        line-height: 1em;
    }
}

