.nav-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    font-size: 14px;

    .nav-item-content {
        display: flex;
        padding: 12px 15px;
        line-height: 30px;
        border-bottom: 1px solid white;
        margin: 0 10px;
        color: white;
    }
}
